body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: lightgrey;
}

.containerCenter {
    display: flex;
    justify-content: center;
}

.column {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

.inner-column {
    min-width: 200px!important;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.user-img img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

input[type=text], input[type=password] {
    background: transparent;
    border: 0px;
    border-bottom: 2px solid grey;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.5s;
    width: 200px;
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2px solid lightgray;
}